{% load static %}
<!DOCTYPE html>
<html>
<head>

  <title>Gestor: {% block title %}{% endblock %}</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Getor Style -->
  <link rel="stylesheet" href="{% static 'css/gestor.css' %}">

  <!-- VueJs -->
  <script src="{% static 'js/vue.js' %}"></script>

  <!-- VueJs resource -->
  <script src="{% static 'js/vue-resource.min.js' %}"></script>

  <!-- jQuery -->
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>

  <!-- popper -->
  <script src="{% static 'js/popper.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>

<body>
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="{% url 'gestor:home' %}">Gestor</a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestor:list_empresa' %}">Empresas<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Facturas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestor:list_cotizacion' %}">Cotizaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestor:list_producto' %}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gestor:list_contacto' %}">Contactos</a>
          </li>
        </ul>

        <div id="login" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="session-dropdown" data-toggle="dropdown">
              {% if not request.user.is_authenticated %}
                Inciar sesión
              {% else %}
                {{request.user.username}}
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="session-dropdown">
              {% if not request.user.is_authenticated %}
                <a class="dropdown-item" href="{% url 'gestor:login' %}">Iniciar sesión</a>
                <a class="dropdown-item" href="{% url 'gestor:signup' %}">Registrar usuario</a>
              {% else %}
                <a class="dropdown-item" href="{% url 'gestor:logout' %}">Cerrar sesion</a>
              {% endif %}
            </div>
        </div>

      </div>
    </nav>
  </header>

      <!-- Begin page content -->
  <main role="main" class="container" style="padding: 60px 15px 0;">
    <div class="row">
      <div class="col-lg-3">
        <div class="list-group my-5">
          {% block actions %}{% endblock %}
        </div>
      </div>
      <div class="col-lg-9">
        <div class="card-outline-primary my-4">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted"><a href="https://gitlab.com/eersya/revolucion.git">Code</a></span>
    </div>
  </footer>

  <!-- Custom scripts -->
  {% block scripts %}{% endblock %}

  </script>

</body>
<html>
