{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Inicio de sesión</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Getor Style -->
  <link rel="stylesheet" href="{% static 'css/gestor.css' %}">

  <!-- VueJs -->
  <script src="{% static 'js/vue.js' %}"></script>

  <!-- VueJs resource -->
  <script src="{% static 'js/vue-resource.min.js' %}"></script>

  <!-- jQuery -->
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>

  <!-- popper -->
  <script src="{% static 'js/popper.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color: #21d192;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">
        <div class="card">
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Inicio de Sesión</h3>
            </div>
            <div class="card-body">
              <form class="form-horizontal" role="form" method="POST" action="{% url 'gestor:login' %}"> {% csrf_token %}
                {% load widget_tweaks %}
                <div class="form-group">
                  <div class="input-group">
                    <label class="sr-only" for="id_username">Usuario</label>
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    {% render_field form.username class+='form-control' placeholder='usuario' %}
                    {% for error in form.username.errors %}
                      <span class="help-block">
                        {{ error }}
                      </span>
                    {% endfor %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="id_password">Usuario</label>
                  {% render_field form.password type='password' class+='form-control' placeholder='contraseña' %}
                  {% for error in form.password.errors %}
                    <span class="help-block">
                      {{ error }}
                    </span>
                  {% endfor %}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-success" value="Iniciar Sesión">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
