{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Registro de usuario</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

  <!-- Getor Style -->
  <link rel="stylesheet" href="{% static 'css/gestor.css' %}">

  <!-- VueJs -->
  <script src="{% static 'js/vue.js' %}"></script>

  <!-- VueJs resource -->
  <script src="{% static 'js/vue-resource.min.js' %}"></script>

  <!-- jQuery -->
  <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>

  <!-- popper -->
  <script src="{% static 'js/popper.min.js' %}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-color: #21d192;">

  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-sm-8 mx-auto">

        <div class="card">
          <div class="card rounded-0">
            <div class="card-header">
              <h3 class="mb-0">Registrarse</h3>
            </div>
            <div class="card-body">
              <form class="form-horizontal" role="form" method="POST" action="{% url 'gestor:signup' %}"> {% csrf_token %}
                {% load widget_tweaks %}
                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
                <div class="form-group">
                  <input type="submit" class="btn btn-lg btn-success" value="Registrarse">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
