{% extends "gestor/base.html" %}

{% block title %}
  Empresas
{% endblock %}

{% block actions %}
  <h2>Empresas</h2>
  <a class="btn btn-primary" role="button" href="{% url 'gestor:create_empresa' %}">
    Registar Empresa
  </a>
{% endblock %}

{% block  content %}

<div id="EmpresaList">
  <h5 class="my-2">
    Buscar Empresa:
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="rfc, razón social"
        v-model="search_term" aria-label="Buscar">
      <button class="btn btn-outline-success my-sm-0"
        v-on:click.prevent="getEmpresaList()">Buscar</button>
    </div>
  </h5>
  <div >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Razón social</th>
          <th scope="col">RFC</th>
        </tr>
        <tbody >
          <tr v-for="empresa in empresaList">
            <th scope="col">${empresa.razon_social}</th>
            <th scope="col">
              <a :href="getEmpresaUrl(empresa)">${empresa.rfc}</a>
            </th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/empresa_list.js' %}"></script>
{% endblock %}
