{% extends "gestor/base.html" %}

{% block title %}
  {{ empresa.rfc }}
{% endblock %}

{% block actions %}
<h4>Empresa:
  <a href="{% url 'gestor:detail_empresa' empresa.rfc %}">{{ empresa.rfc }}</a>
</h4>
<h5>Razón social:
  {{ empresa.razon_social }}
</h2>
<div id="empresaDatosAdicionalesAccordion">

  <div class="card">
    <div class="car-header" id="headingThree">
      <h6 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Contacto
        </button>
      </h6>
    </div>
  </div>

  <div id="collapseThree" class="collapse not-show" aria-labelledby="headingThree" data-parent="empresaDatosAdicionalesAccordion">
    <div class="card-body">
      <h6>
        Correo:{{ empresa.correo }}
      </h6>
      <h6>
        Teléfono: {{ empresa.telefono }}
      </h6>
    </div>
  </div>


  <div class="card">
    <div class="car-header" id="headingOne">
      <h6 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Dirección
        </button>
      </h6>
    </div>
  </div>

  <div id="collapseOne" class="collapse not-show" aria-labelledby="headingOne" data-parent="empresaDatosAdicionalesAccordion">
    <div class="card-body">
      <h6>
        Cuidad/Estado:{{ empresa.get_cuidad_estado_display }}
      </h6>
      <h6>
        CP: {{ empresa.cp }}
      </h6>
      <h6>
        Dirección: {{ empresa.direccion }}
      </h6>
    </div>
  </div>


  <div class="card">
    <div class="car-header" id="headingTwo">
      <h6 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Datos Bancarios
        </button>
      </h6>
    </div>
  </div>

  <div id="collapseTwo" class="collapse not-show" aria-labelledby="headingTwo" data-parent="empresaDatosAdicionalesAccordion">
    <div class="card-body">
      <h6>
        Banco:{{ empresa.get_banco_display }}
      </h6>
      <h6>
        Referencia Bancaria: {{ empresa.referencia_bancaria }}
      </h6>
    </div>
  </div>

  <div class="card">
      <div class="car-header" id="headingFour">
        <h6 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Datos del SAT
          </button>
        </h6>
      </div>
  </div>
  
  <div id="collapseFour" class="collapse not-show" aria-labelledby="headingFour" data-parent="empresaDatosAdicionalesAccordion">
    <div class="card-body">
      <h6>
        Forma de pago: {{empresa.get_forma_pago_display}}
      </h6>
      <h6>
        Método de pago: {{empresa.get_metodo_pago_display}}
      </h6>
      <h6>
        Tipo de comprobante: {{empresa.get_tipo_comprobante_display}}
      </h6>
    </div>
  </div>

</div>

{% if request.user.is_superuser %}
  <a class="btn btn-warning my-2" role="button" href="{%url 'gestor:update_empresa' empresa.rfc%}">
    Actualizar Empresa
  </a>
  <a class="btn btn-danger my-2" role="button" href="{%url 'gestor:delete_empresa' empresa.rfc%}">
    Eliminar Empresa
  </a>
{% endif %}
<a class="btn btn-success my-2" role="button" href="{%url 'gestor:create_cotizacion' empresa.rfc%}">
  Cotizar
</a>

{% endblock %}

{% block  content %}
  {% block empresa_item_content %}{% endblock %}
{% endblock %}
