{% extends "gestor/base.html" %}

{% block title %}
  Registrar Empresa
{% endblock %}

{% block actions %}
  <h4>Registar Empresa</h4>
{% endblock %}

{% block  content %}

{% load widget_tweaks %}
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.rfc.id_for_label }}">{{ form.rfc.label_tag }}</label>
      {{ form.rfc|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.razon_social.id_for_label }}">{{ form.razon_social.label_tag }}</label>
      {{ form.razon_social|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.correo.id_for_label }}">{{ form.correo.label_tag }}</label>
      {{ form.correo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label_tag }}</label>
      {{ form.telefono|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.banco.id_for_label }}">{{ form.banco.label_tag }}</label>
      {{ form.banco|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.referencia_bancaria.id_for_label }}">{{ form.referencia_bancaria.label_tag }}</label>
      {{ form.referencia_bancaria|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{form.forma_pago.id_for_label}}">{{form.forma_pago.label_tag}}</label>
      {{form.forma_pago|add_class:'form-control'}}
    </div>
    <div class="col">
      <label for="{{form.metodo_pago.id_for_label}}">{{form.metodo_pago.label_tag}}</label>
      {{form.metodo_pago|add_class:'form-control'}}
    </div>
    <div class="col">
      <label for="{{form.tipo_comprobante.id_for_label}}">{{form.tipo_comprobante.label_tag}}</label>
      {{form.tipo_comprobante|add_class:'form-control'}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.cuidad_estado.id_for_label }}">{{ form.cuidad_estado.label_tag }}</label>
      {{ form.cuidad_estado|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.cp.id_for_label }}">{{ form.cp.label_tag }}</label>
      {{ form.cp|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.direccion.id_for_label }}">{{ form.direccion.label_tag }}</label>
      {{ form.direccion|add_class:'form-control' }}
    </div>
  </div>
  <input class="btn btn-success my-2 btn-lg" type="submit" value="Registrar">
</form>

{% endblock %}
