{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<form method="post" >{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label_tag }}</label>
      {{ form.nombre|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.correo.id_for_label }}">{{ form.correo.label_tag }}</label>
      {{ form.correo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.telefono.id_for_label }}">{{ form.telefono.label_tag }}</label>
      {{ form.telefono|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.cuidad_estado.id_for_label }}">{{ form.cuidad_estado.label_tag }}</label>
      {{ form.cuidad_estado|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.cp.id_for_label }}">{{ form.cp.label_tag }}</label>
      {{ form.cp|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.banco.id_for_label }}">{{ form.banco.label_tag }}</label>
      {{ form.banco|add_class:'custom-select' }}
    </div>
    <div class="col">
      <label for="{{ form.referencia_bancaria.id_for_label }}">{{ form.referencia_bancaria.label_tag }}</label>
      {{ form.referencia_bancaria|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
      <div class="col">
        <label for="{{form.forma_pago.id_for_label}}">{{form.forma_pago.label_tag}}</label>
        {{form.forma_pago|add_class:'form-control'}}
      </div>
      <div class="col">
        <label for="{{form.metodo_pago.id_for_label}}">{{form.metodo_pago.label_tag}}</label>
        {{form.metodo_pago|add_class:'form-control'}}
      </div>
      <div class="col">
        <label for="{{form.tipo_comprobante.id_for_label}}">{{form.tipo_comprobante.label_tag}}</label>
        {{form.tipo_comprobante|add_class:'form-control'}}
      </div>
    </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.direccion.id_for_label }}">{{ form.direccion.label_tag }}</label>
      {{ form.direccion|add_class:'form-control' }}
    </div>
  </div>
  <input type="submit" class="btn btn-lg btn-secondary my-2" value="Guardar Cambios">
</form>
{% endblock %}
