{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
<h3>Factura: {{factura.id}}</h3>
<h4>
  Estado: {{factura.get_estado_display}}
</h5>
<div class="container">
  <h4>Cotización:
    <a href="{% url 'gestor:detail_cotizacion' cotizacion.empresa.rfc cotizacion.id %}">
      #{{cotizacion.id}}
    </a>
  </h4>
  </div>
  <h5>
    Nombre: {{cotizacion.nombre}}
  </h5>
  <h6>Fecha: {{cotizacion.fecha}}</h6>
  <div class="container">
    <h6>
      Forma de pago: {{empresa.get_forma_pago_display}}
    </h6>
    <h6>
      Método de pago: {{empresa.get_metodo_pago_display}}
    </h6>
    <h6>
      Tipo de comprobante: {{empresa.get_tipo_comprobante_display}}
    </h6>
  </div>
</div>
<h5>Prodcutos cotizados: </h5>
<span cotizacion_id="{{cotizacion.id}}"></span>
<div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">IVA</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">&#43;IVA</th>
        <th scope="col">Importe</th>
      </tr>
    </thead>
    <tbody>
      {% for producto_cotizado in object_list %}
        <tr>
          <th scope="col">{{producto_cotizado.id}}</th>
          <th scope="col">{{producto_cotizado.producto.numero_parte}}</th>
          <th scope="col">%{{producto_cotizado.producto.tipo_de_iva}}</th>
          <th scope="col">${{producto_cotizado.precio}}</th>
          <th scope="col">{{producto_cotizado.cantidad}}</th>
          <th scope="col">${{producto_cotizado.monto_iva}}</th>
          <th scope="col">${{producto_cotizado.importe}}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="float-right">
  <h6>Costo de operación: ${{cotizacion.costo_de_operacion}}</h6>
  <h5>Monto IVA: ${{cotizacion.monto_iva}}</h5>
  <h4>SubTotal: ${{cotizacion.subtotal}}</h4>
  <h3>SubTotal: ${{cotizacion.total}}</h3>
</div>
{% endblock %}
