{% extends "gestor/base.html" %}

{% block title %}
  Contactos
{% endblock %}

{% block actions %}
  <h2>Contactos</h2>
{% endblock %}

{% block  content %}

<div id="ContactoList">
  <h5 class="my-2">
    Buscar Contacto:
    <div class="form-inline my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="id, nombre, empresa"
        v-model="search_term" aria-label="Buscar">
      <button class="btn btn-outline-success my-sm-0"
        v-on:click.prevent="getContactoList()">Buscar</button>
    </div>
  </h5>
  <div >
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Empresa</th>
        </tr>
        <tbody >
          <tr v-for="contacto in contactoList">
            <th scope="col">
              <a :href="getContactoUrl(contacto)">${contacto.id}</a>
            </th>
            <th scope="col">${contacto.nombre}</th>
            <th scope="col">
              <a :href="getContactoEmpresaUrl(contacto)">${contacto.empresa}</a>
            </th>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/contacto_list.js' %}"></script>
{% endblock %}
