{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
{% load widget_tweaks %}
<form method="post">{% csrf_token %}
  <div class="row">
    <div class="col">
      <label for="{{ form.prefijo.id_for_label }}">{{ form.prefijo.label_tag }}</label>
      {{ form.prefijo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.nombre.id_for_label }}">{{ form.nombre.label_tag }}</label>
      {{ form.nombre|add_class:'form-control' }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="{{ form.correo.id_for_label }}">{{ form.correo.label_tag }}</label>
      {{ form.correo|add_class:'form-control' }}
    </div>
    <div class="col">
      <label for="{{ form.numero.id_for_label }}">{{ form.numero.label_tag }}</label>
      {{ form.numero|add_class:'form-control' }}
    </div>
  </div>
  <input type="submit" class="btn btn-secondary my-2" value="Guardar Cambios">
</form>
{% endblock %}
