{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}
<h3>Contacto: <a href="{% url 'gestor:detail_contacto' empresa.rfc contacto.id %}">{{contacto.id}}</a></h3>
<h4>Nombre: {{contacto.nombre}}</h4>
<h5>correo: {{contacto.correo}}</h5>
<h6>Facturas: </h6>
<table class="table table-hover" style="width:100%">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Costo De Operación</th>
        <th scope="col">Monto IVA</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    {% for cotizacion in object_list %}
      <tr>
      {% if cotizacion.is_factura %}
        <th scope="col" class="table-success">
          <a href="{% url 'gestor:detail_cotizacion' empresa.rfc cotizacion.id %}">
            {{cotizacion.id}}
          </a>
        </th>
      {% else %}
        <th scope="col" class="table-danger">
          <a href="{% url 'gestor:detail_cotizacion' empresa.rfc cotizacion.id %}">
            {{cotizacion.id}}
          </a>
        </th>
      {% endif %}
        <th scope="col">{{cotizacion.fecha}}</th>
        <th scope="col">${{cotizacion.costo_de_operacion}}</th>
        <th scope="col">${{cotizacion.monto_iva}}</th>
        <th scope="col">${{cotizacion.total}}</th>
      </tr>
    {% endfor %}
  </table>

</div>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ i }} <span class="sr-only">actual</span></a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Siguiente</span>
      </a>
    </li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
