{% extends "gestor/empresa/EmpresaDetail.html" %}

{% block empresa_item_content %}

{% load widget_tweaks %}
<form method="post">{% csrf_token %}
  <div class="form-group row">
    <label for="{{form.referencia.id_for_label}}" class="col-sm-2 col-form-label">
      {{form.referencia.label_tag}}
    </label>
    <div class="col-sm-10">
      {{form.referencia|add_class:'form-control'}}
    </div>
  </div>
  <div class="form-group row">
    <label for="{{form.contacto.id_for_label}}" class="col-sm-2 col-form-label">
      {{form.contacto.label_tag}}
    </label>
    <div id="BuscarContacto">
      <div class="col-sm-10">
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#buscarContactoModal">
              Buscar Contacto
            </button>
          </div>
          {{form.contacto|attr:"v-model:currentContactoStr"|attr:"class:custom-select"}}
        </div>
      </div>

      <!-- Buscar Contacto Modal -->
      <div class="modal fade" id="buscarContactoModal" tabindex="1" role="dialog" aria-labelledby="buscarContactoModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5>Buscar Contacto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-inline my-log-0">
                <input class="form-control mr-sm-2" type="text" placeholder="nombre"
                  v-model="search_term" aria-label="Buscar">
                <button class="btn btn-outline-success my-sm-0" v-on:click.prevent="getContactoList('{{empresa.rfc}}')">
                  Buscar
                </button>
              </div>
              <div class="my-2">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Nombre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="contacto in contactoList">
                      <th scope="col">
                        <a  href="#" v-on:click="getContacto(contacto.id)">${contacto.nombre}</a>
                      </th>
                      <th scope="col">${contacto.nombre}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <div class="form-group row">
      <label for="{{form.costo_operacion.id_for_label}}" class="col-sm-2 col-form-label">
        {{form.costo_operacion.label_tag}}
      </label>
      <div class="col-sm-10">
        {{form.costo_operacion|add_class:'form-control'}}
      </div>
    </div>
  <input type="submit" class="btn btn-lg btn-secondary my-2" value="Registrar">
</form>

{% endblock %}

{% block scripts %}
  {% load static %}
  <script src="{% static 'frontend/cotizacion/cotizacion_create.js' %}"></script>
{% endblock %}
