{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cotizacion:Empresa{{empresa.rfc}}#{{cotizacion.id}}</title>
  <style type="text/css">
    @page {
      size: A4;
      margin: 1cm;
    }

    .img {
      width: 100;
    }

    .caja-datos {
      line-height: .5px;
    }

    .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 15px;
      padding-right: 15px;
      line-height: .5px;
    }
    
    .topright {
      position: absolute;
      top: 0px;
      right: 50%;
    }

    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 5px;
      background-color: #fff;
    }
    .table th, .table td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid #000;
      text-align: center;
    }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #000;
    }
    .table tbody + tbody {
      border-top: 2px solid #000;
    }
    .table .table {
      background-color: #fff;
    }
  </style>
</head>

<body>
  <div id="imagen">
    <img src="static/logo.jpg" width="200">
  </div>
  <div id="tuEmpresa" class="topright">
    <h2>TU MEJOR OPCIÓN SOG SAS DE CV.</h2>
    <div id="datos" class="container">
      <p>RFC: RFC: TMO180124399</p>
      <div id="direccion">
        <p>SUBIDA LAURELES NO. 1</p>
        <p>COL. SAN LUCAS PATONI CP 54100</p>
        <p>TLALNEPANTLA DE BAZ, EDO. MÉX</p>
      </div>
      <p>TEL: (55) 7258-0774</p>
    </div>
  </div>

  <div id="cotizacion" class="caja-datos">
    <h3>Cotización: {{cotizacion.id}}</h3>
    <div id="datosCotizacion" class="container">
      <p>Referencia: {{cotizacion.referencia}}</p>
      <p>Fecha de creación: {{cotizacion.fecha}}</p>
    </div>
    <div id="empresa" class="container">
      <h3>Empresa: {{empresa.rfc}}</h3>
      <div id="datosEmpresa" class="container">
        <p>Razón social: {{empresa.razon_social}}</p>
      </div>
    </div>
  </div>

  <div class="caja-datos">
    <h4>Prodcutos cotizados: </h4>
    <span cotizacion_id="{{cotizacion.id}}"></span>
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Tipo</th>
            <th scope="col">IVA</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">&#43;IVA</th>
            <th scope="col">Importe</th>
          </tr>
        </thead>
        <tbody>
          {% for producto_cotizado in productos_cotizados %}
            <tr>
              <th scope="col">{{producto_cotizado.producto.numero_parte}}</th>
              <th scope="col"><p>{{producto_cotizado.descripcion}}</p></th>
              <th scope="col">{{producto_cotizado.producto.tipo_producto}}</th>
              <th scope="col">%{{producto_cotizado.producto.tipo_iva}}</th>
              <th scope="col">${{producto_cotizado.precio}}</th>
              <th scope="col">{{producto_cotizado.cantidad}}</th>
              <th scope="col">${{producto_cotizado.monto_iva}}</th>
              <th scope="col">${{producto_cotizado.importe}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="caja-datos">
    <h6>Costo de operación: ${{cotizacion.costo_operacion}}</h6>
    <h5>Monto IVA: ${{cotizacion.monto_iva}}</h5>
    <h2>Total: ${{cotizacion.total}}</h2>
  </div>

</body>


<html>
